[submodule "DP"]
	path = DP
	url = https://github.com/Itsbeenalongday/Dynamic-Programming.git
[submodule "Sorting"]
	path = Sorting
	url = https://github.com/Itsbeenalongday/Sorting.git
[submodule "Graph"]
	path = Graph
	url = https://github.com/Itsbeenalongday/Graph.git
[submodule "Brute-Force"]
	path = Brute-Force
	url = https://github.com/Itsbeenalongday/Brute-Force.git
