[submodule "DP"]
	path = DP
	url = https://github.com/Itsbeenalongday/Dynamic-Programming.git
[submodule "Sorting"]
	path = Sorting
	url = https://github.com/Itsbeenalongday/Sorting.git
[submodule "Graph"]
	path = Graph
	url = https://github.com/Itsbeenalongday/Graph.git
[submodule "Brute-Force"]
	path = Brute-Force
	url = https://github.com/Itsbeenalongday/Brute-Force.git
[submodule "String"]
	path = String
	url = https://github.com/Itsbeenalongday/String.git
[submodule "Implement"]
	path = Implement
	url = https://github.com/Itsbeenalongday/Implement.git
[submodule "Simulation"]
	path = Simulation
	url = https://github.com/Itsbeenalongday/Simulation.git
[submodule "Greedy"]
	path = Greedy
	url = https://github.com/Itsbeenalongday/Greedy.git
[submodule "Math"]
	path = Math
	url = https://github.com/Itsbeenalongday/Mathematical-theory.git
[submodule "Stack"]
	path = Stack
	url = https://github.com/Itsbeenalongday/Stack.git
[submodule "Queue"]
	path = Queue
	url = https://github.com/Itsbeenalongday/Queue.git
[submodule "Deque"]
	path = Deque
	url = https://github.com/Itsbeenalongday/Deque.git
[submodule "C-Star-Wars"]
	path = C-Star-Wars
	url = https://github.com/Itsbeenalongday/C-Star-Wars.git
[submodule "2019-summer-vacation-Baekjoon"]
	path = 2019-summer-vacation-Baekjoon
	url = https://github.com/Itsbeenalongday/2019-summer-vacation-Baekjoon.git
[submodule "2020-winter-vacation-Baekjoon"]
	path = 2020-winter-vacation-Baekjoon
	url = https://github.com/Itsbeenalongday/2020-winter-vacation-Baekjoon.git
[submodule "ACM-ICPC-Algorithms"]
	path = ACM-ICPC-Algorithms
	url = https://github.com/Itsbeenalongday/ACM-ICPC-Algorithms.git
